h1 {
    color: #fffffe;
}

h2 {
    font-size: 18px;
    font-family: serif;
    font-family: 'Yuji Syuku', serif;
    color: #fffffe;
}

p {
    font-size: 15px;
    font-family: 'Yuji Syuku', serif;
    color: #fffffe;

}

body {
    background: rgb(236, 200, 134);
}

h2 {
    font-size: 18px;
    color: fffffe;
}

