* {
  font-family: sans-serif; /* すべてのフォントをゴシックに */ /*font설정을 여기서 할수있음 ㅇㅎ*/
}

body {
  margin: 10px 0; /* 最も外側の余白設定 */
}

main {
  box-sizing: border-box; /* 余白もコンテンツ幅に含める */
  width:  100%; /* コンテンツの横幅 */
  max-width: 600px; /* 最大で600pxに固定 */
  margin: 0 auto; /* marginを使用して中央配置 */
  padding: 10px; /* コンテンツの内側に余白 */
  box-shadow: 0 0 5px 0 gray; /* コンテンツに影設定 */
}

h1 {
  text-align: center; /* テキストを中央揃えに */
  
}

h1, h2 {
  color:blue; /* 見出しの色 */
  background-color:cornflowerblue; /* 見出しの色 */
  height: 2em; /* 見出しの高さを2文字分に */
  line-height: 2em; /* 行の高さを2文字分に */
  text-align: center;
}

#key_visual img {
  max-width: 100%; /* 画像の横幅を100%に */
}

dl {
  display: flex; /* flex表示設定 */
  flex-wrap: wrap; /* コンテンツを自動折返し */
}

dl dt, dl dd {
  width: 50%; /* コンテンツ幅を50%に */
  margin: 0; /* コンテンツ外側の余白を0に */
  margin-bottom: 10px; /* コンテンツの下側に10pxの余白 */
  font-size: 20px;
}

dl dt {
  color:crimson;
}

div p {
  color:crimson
  

}

ul, ol {
  font-size: 0.8em; /* 箇条書きの文字サイズ */
  font-size: 20px;
}

